.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo {
  font-weight: bold;
  font-size: 22px;
  
} */
.un{
  margin: 0 15px;
}
@media (max-width: 768px) {
  .un{
    margin: 0 0;
  }
  

}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.container {
  max-width: 1366px;
  /* min-height: 100vh; */
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
